# IDE #
# CodeBlocks IDE
*.layout
*.depend

# Visual Code
.vscode
_deps/

# Binaries
bin/*
obj/*
dist/*/data
dist/*/src
dist/*/*.exe
Makefile

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps